<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-card style="background-color: gold;">
    <mat-card-content>
      <div fxLayout="row " fxLayoutGap="510px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style=" font-size: 20px;     color: black;">
            Incident Details</div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon style="font-size: 30px; color: darkblue;" (click)="openDialog()">add_circle</mat-icon>
          <mat-icon style="font-size: 30px; color: darkblue;">home</mat-icon>
          <mat-icon style="font-size: 30px; color: darkblue;">logout</mat-icon>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>