<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-card style="background-color: gold;">
    <mat-card-content>
      <div fxLayout="row " fxLayoutGap="510px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style=" font-size: 20px;     color: black;">
            Incident Details</div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-fab style="font-size: 30px;" color="primary" (click)="openDialog()">
            <mat-icon>add_circle</mat-icon>
          </button><button mat-fab style="font-size: 30px;" color="primary" routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
          </button><button mat-fab color="primary">
            <mat-icon>home</mat-icon>
          </button><button mat-fab color="primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="column wrap" style="margin:100px;margin-top:30px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div style="font-size:18px;font-style: oblique;">
    <h4>What is an Incident?</h4>
    <p>An incident is an unexpected disruption to a service. It disturbs the normal operation thus affecting end user&#x2019;s productivity. An Incident may be caused due to an asset that is not functioning properly or network failure. Examples of Incidents include printer issue, wifi connectivity issue, application lock issue, email service issue, laptop crash, AD authentication error, file sharing issue etc.</p>
    <h4>Incident vs service request</h4>
    <p>A Service request is &#x2018;a formal request from a user for something to be provided &#x2013; for example, a request for information or advice&#x2019;. The main difference between Incident and service request is that often pre-approved standard changes are classified as service requests which end users request for. For example, UX designer requests for Adobe photoshop software and increase in RAM space. Having an intuitive service catalog to capture this request is recommended.</p>
    <h4>Incident vs problem</h4>
    <p>A Problem is a series of incidents with an unknown root cause, whereas incident arises as soon as something breaks or stops working disrupting normal service. Incident handling is usually a reactive process whereas problem management is more proactive. Incident management system aims at restoring services quickly whereas problem management aims at finding a permanent fix.</p>
  </div>
</div>