<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-card style="background-color: gold;">
    <mat-card-content>
      <div fxLayout="row " fxLayoutGap="510px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style=" font-size: 20px;     color: black;">
            Incident Details</div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-fab style="font-size: 30px;" color="primary" (click)="openDialog()">
            <mat-icon>add_circle</mat-icon>
          </button><button mat-fab style="font-size: 30px;" color="primary" routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
          </button><button mat-fab color="primary">
            <mat-icon>home</mat-icon>
          </button><button mat-fab color="primary" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"></div>