<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="width: 500px;">
      <mat-card-title>User Total Incident </mat-card-title>

      <mat-card-content>
        <div fxFlex="100">
          <canvas baseChart [datasets]="pieChartData " [labels]="pieChartLabels" [options]="pieChartOptions" chartType="pie" (chartClick)="mychartclick()"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="width: 500px;">
      <mat-card-title>Priority Total Incident </mat-card-title>

      <mat-card-content>
        <div fxFlex="100">
          <canvas baseChart [datasets]="pieChartPriorityData" [labels]="pieChartPriorityLabels" [options]="pieChartOptions" chartType="pie" (chartClick)="mychartclick()"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>