<div fxLayout="column wrap" fxLayoutGap="30px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-card style="background-color: gold;">
    <mat-card-content>
      <div fxLayout="row " fxLayoutGap="510px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div style=" font-size: 20px;     color: black;">
            Incident Details</div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-fab color="primary">
            <mat-icon>home</mat-icon>
          </button><button mat-fab color="primary">
            <mat-icon>logout</mat-icon>
          </button></div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div fxLayout="column">

        <div fxLayout="row" fxLayoutAlign="end">
          <div fxLayout="column" fxFlex="end">
            <mat-form-field fxFlex="100">
              <input matInput placeholder="Search" (keyup)="applyFilter($event)">
            </mat-form-field>
          </div>
        </div>
        <table mat-table [dataSource]="datasource" matSort class="table-width-fix">
          <tr mat-header-row *matHeaderRowDef="[&apos;_id&apos;,&apos;subject&apos;,&apos;description&apos;,&apos;priority&apos;,&apos;incident_date&apos;,&apos;81b234a1-274c-d707-ca26-cec6f1dbb1d3&apos;,&apos;95a1a98b-0f07-a5c4-a3bd-e73af374cbcd&apos;]"></tr>
          <tr mat-row *matRowDef="let row; columns: [&apos;_id&apos;,&apos;subject&apos;,&apos;description&apos;,&apos;priority&apos;,&apos;incident_date&apos;,&apos;81b234a1-274c-d707-ca26-cec6f1dbb1d3&apos;,&apos;95a1a98b-0f07-a5c4-a3bd-e73af374cbcd&apos;];"></tr>

          <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Incident Id</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table._id}}</td>
          </ng-container>

          <ng-container matColumnDef="subject" *ngIf="!editcliked">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Incident Subject</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.subject}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Incident Description</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.description}}</td>
          </ng-container>

          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>Incident Priority</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.priority}}</td>
          </ng-container>

          <ng-container matColumnDef="incident_date">
            <th mat-header-cell *matHeaderCellDef>Incident Time</th>
            <td mat-cell *matCellDef="let table; let i = index;">{{table.incident_date }}</td>
          </ng-container>

          <ng-container matColumnDef="81b234a1-274c-d707-ca26-cec6f1dbb1d3">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let table; let i = index;">
              <mat-icon (click)="edit(table)" color="primary">edit</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="95a1a98b-0f07-a5c4-a3bd-e73af374cbcd">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let table; let i = index;">
              <mat-icon (click)="deleteincident(table)" color="primary">delete</mat-icon>
            </td>
          </ng-container>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>